/*
<!--Created by Petrakov-->
<!--Designed by VladShe -->
<!-- http://vladshe.ru/ -->
*/
input::-webkit-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus {
    outline: 0;
}


* {
    margin: 0;
    border: 0;
    line-height: 1.2;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

html {
    font-size: 14px;
    font-weight: 400;
  font-family: 'Proxima Nova Rg';
    color: white;
}

.wrap {
    overflow: hidden;
}
section {
    position: relative;
    /* overflow: hidden; */
}
section > * {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}
section > #product  {
	margin: 50px 0;
	text-align: center;
}
.wrap9 {
    /* overflow: hidden; */
}

section > .wrap9 {
    max-width: 1025px;
}
section > .wrap7 {
    max-width:  750px;
}

body {
    background: white;
    overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

body.open {
    overflow: hidden;
}
.promo-products {
		max-width: 1040px;


}

h1 {
    text-transform: uppercase;
}



.back-blue {
    background: RGBA(15, 27, 33, 1.00);
}
.black-bone{
    background: RGBA(246, 237, 222, 1.00);
}
.yellow {
    color: RGBA(255, 171, 71, 1.00);
}

.flex {
    display: flex;
    justify-content: space-between;

}
.flex > * {
    display: inline-block;
    align-self: center;
}

#nav .logo {
    height: 50px;
}

#nav {
    padding: 10px 0;
    padding-top: 5px;
}
#nav li{
   list-style: none;
   padding: 5px 0;  
}
#nav .props p{
    font-weight: bold;
}
#nav .call {
    text-align: right;
}

#header {
    height: calc( 100vh - 76px);
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
#header > div {
    text-align: right;
    position: absolute;
    bottom: 10vh;
}
#header div p{
    width: 500px;
    text-align: right;
    margin-right: 0;
}
.rectangle {
    background : RGBA(246, 237, 222, 1.00);
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    color: RGBA(15, 27, 33, 1.00);
}
































