/*
<!--Created by Petrakov-->
<!--Designed by VladShe -->
<!-- http://vladshe.ru/ -->
*/
input::-webkit-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus {
    outline: 0;
}


* {
    margin: 0;
    border: 0;
    line-height: 1.2;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

html {
    font-size: 14px;
    font-weight: 400;
  font-family: 'Proxima Nova Rg';
    color: white;
}

.wrap {
    overflow: hidden;
}
section {
    position: relative;
    min-height: 300px;
    /* overflow: hidden; */
}
section > * {
    max-width: 1280px;
    width: 95%;
    margin: auto;
    
}
section > #product  {
	margin: 50px 0;
	text-align: center;
}
.wrap9 {
    /* overflow: hidden; */
}

section > .wrap9 {
    max-width: 1025px;
}
section > .wrap7 {
    max-width:  750px;
}

body {
    background: white;
    overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

body.open {
    overflow: hidden;
}
.promo-products {
		max-width: 1040px;


}

h1 {
    text-transform: uppercase;
}



.back-blue {
    background: RGBA(15, 27, 33, 1.00);
}
.back-bone{
    background: RGBA(246, 237, 222, 1.00);
    color: RGBA(15, 27, 33, 1.00);    
    
}
.yellow {
    color: RGBA(255, 171, 71, 1.00);
}

.flex {
    display: flex;
    justify-content: space-between;

}
.flex > * {
    display: inline-block;
    align-self: center;
}

#nav .logo {
    height: 50px;
}

#nav {
    padding: 10px 0;
    padding-top: 5px;
    min-height: auto;
}
#nav li{
   list-style: none;
   padding: 5px 0;  
}
#nav .props p{
    font-weight: bold;
}
#nav .call {
    text-align: right;
}

#header {
    height: calc( 100vh - 76px);
    background: url(images/1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
#header > div {
    text-align: right;
    position: absolute;
    bottom: 10vh;
}
#header div p{
    width: 500px;
    text-align: right;
    margin-right: 0;
}
.rectangle {
    background : RGBA(246, 237, 222, 1.00);
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    color: RGBA(15, 27, 33, 1.00);
}
.title {
    text-align: center;
    padding: 30px 0;
}
.back-blue .title h1 {
  
    background : RGBA(246, 237, 222, 1.00);
    display: inline-block;
    padding: 5px 15px;
    margin: auto;
    letter-spacing: 0.07rem;
    margin-bottom: 5px;
    font-size: 2.2rem;
    text-align: center;
    color: RGBA(15, 27, 33, 1.00);

}
.back-bone .title h1 {
  
    display: inline-block;
    margin: auto;
    font-weight: 100;
    letter-spacing: 0.1rem;
    margin-bottom: 5px;
    font-size: 2.2rem;
    text-align: center;
    color: RGBA(15, 27, 33, 1.00);

}
.back-bone div p{
    width: 50%;
    line-height: 1.3;
    font-size: 1.1rem;
}
.back-bone .button {
    text-align: center;
    margin-top: 30px;
}
.back-bone .button a{
    border: 2px  RGBA(15, 27, 33, 1.00) solid;
    padding: 10px 20px;
    padding-bottom: 8px;
    	font-family: 'Proxima Nova Lt';
display: inline-block;
color:  RGBA(15, 27, 33, 1.00);
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    transition: 0.3s;
    font-weight: 600;
text-transform: uppercase;
}
.back-bone .button a:hover{
    border: 2px  RGBA(15, 27, 33, 1.00) solid;
   background:  RGBA(15, 27, 33, 1.00) ;
   color:RGBA(255, 171, 71, 1.00);
}
#reviews, #why, #faq,#leather {
    padding-bottom: 30px;
}
.review {
    display: inline-block;
    padding: 15px;
    background: white;
    border-radius: 3px;
    color: RGBA(15, 27, 33, 1.00);
    width: calc(24.5% - 60px);
    margin: 0 15px;

}
.review img {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    display: inline-block;
vertical-align: middle;
    
    
    background: RGBA(15, 27, 33, 1.00);
}
.review h3 {
    display: inline-block;
vertical-align: middle;
text-transform: uppercase;
font-size: 1.3rem;
margin-left: 15px;
}
.review p {
    padding-top: 15px;
    min-height: 90px;
    line-height: 1.2;
    font-size: 1rem;
}


#leather > img {
    position: absolute;
right: 50vw;
    height: 200px;
    top: 90px;
    object-fit: contain;
}
#leather p {
    margin-left: 45%;
}

#why p {
    margin: auto;
}
#why > img {
    position: absolute;
left: 60vw;
    height: 200px;
    top: 90px;
    object-fit: contain;
}




























